@laker rc file Version 1.0
[Library]
lab = /home/ncku_class/vlsisj2022/vlsisj2022063/Desktop/vlsi/CIC_018/laker/lab.lib++
[DataManagement]
DMToolType = unknown
DMAutoExcludeViewName = 
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
[DisabledMessages]
version = 2018.12
[Form]
version = 2018.12
openfile.fm = 100,100,723,535
leoNewLibrary.fm = 332,274,382,459
leoDelCell.fm = 498,491,447,424
leoSetupGrid.fm = 572,245,639,608
leoDelCellCnf.fm = 104,188,250,270
leoDeleteLib.fm = 331,252,282,336
leoCrDevice.fm = 300,200,680,593
leoSearch.fm = 120,120,668,313
leoCreateArray.fm = 320,220,680,562
leoCopyCell.fm = 204,544,910,532
leoRenCell.fm = 332,274,451,417
dumpWnd.fm = 269,337,520,540
leoNewCatg.fm = 331,252,459,370
leoCoord.fm = 400,350,298,93
leoRenameLib.fm = 331,252,282,371
shareOpenDsg.fm = 297,440,683,595
leoOpenDsg.fm = 450,230,460,365
leoGMRealizer.fm = 500,182,683,831
leoCreateText.fm = 22,402,400,591
savepngfile.fm = 431,500,723,535
leoClsWndSaveCnf.fm = 100,100,656,287
leoMasterWnd.fm = 0,52,1920,987
leoDsgWnd.fm = 0,52,1920,987
[General]
SyncDir = FALSE
KeepEnvValInRc = TRUE
AutoSyncLibMapFile = FALSE
[GridSetting]
lab = 0.001 0.01 0.01 5 1 
[ImportExport]
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportDILayerMapFile = 
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = FALSE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MaxVerticesInPathPoly = 4096
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterText = FALSE
ExportFilterDummyCell = FALSE
ExportFilterDummyInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSysLayer = All
ExportPolygonText = FALSE
ExportPathToPolygon = FALSE
ExportPurposeMap = TRUE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDIIncludeOriginLayers = TRUE
ExportMaxAryColRow = FALSE
ExportPrecisionForMag = 5
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
SetCreateInstanceAutoUpdatePitch = TRUE
SetCreateInstanceCheckLoops = TRUE
SetCreateInstanceJustification = Origin
SetCreateInstanceLibName = lab1
SetCreateInstanceCellName = inv
SetCreateInstanceViewName = layout
MoveIgnoreLogicInfo = FALSE
PasteJustification = Original
PasteStickWndJustification = CellTemplate Left GroundLower
SetMirrorMethod = Justification CenterCenter
KeepCopyArrayEntries = TRUE
StretchIgnoreLogicInfo = FALSE
TextJustification = LowerLeft
TextFontType = Modern
TextHeight = 1.0
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
VirtualTopStr = 
RVE_StartingPath = 
AbutControlPCell = 
ConnectionRuleName = 
P2PSheetResFile = 
IoDefaultDirectory = 
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
DummyGateUserDefinedLength = 
LayerNameLength = 5
AlignSpacingRuleVal = 
CreatePathRuleVal = 
DefaultTechnologyFile = /home/ncku_class/vlsisj2022/vlsisj2022063/Desktop/vlsi/CIC_018/laker/laker.tf
NewLibraryWithTechFile = TRUE
NewLibDir = /home/ncku_class/vlsisj2022/vlsisj2022063/Desktop/vlsi/CIC_018/laker
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
SetNewCellCVType = 65
SetDistanceRulerStyle = 0
SetDistanceSnapMode = AnyAngle
SetDistanceEdgeToEdge = TRUE
OpenCellWithMoreInfo = TRUE
RemoveLibraryFromDM = FALSE
SearchMatchCase = TRUE
SearchRegularExpressions = TRUE
SearchZoomToMatchedObj = TRUE
SetDelCellCatg = FALSE
SetDelCellCVType = 629
RemoveCellFromDM = FALSE
SetCopyCellCatg = FALSE
SetCopyCellByView = FALSE
CopyCellViewsCopy = All
CopyCellUpdateInst = NewCopied
CopyCellRenameRule = %C_%L
UpdateInstances = FALSE
ShowErrorFlagTip = FALSE
ConfirmBeforeDRC = TRUE
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 218 0 221 218
EqualResRoutingScheme = RouteByOrder
EqualResRouteMode = minWidth
EqualResWidth = 1.0
EqualResSpacing = 0.1
EqualResMaxWidth = FALSE
GatewayAlignTemplate = normal
EqualResGMLayer = ref drawing
EqualResLabelLayer = ref drawing
EqualResLabel = FALSE
GatewaySealLayer = ref drawing
GatewaySealSize = 0.0
GatewayCheckTeethSpace = TRUE
GatewayExpandTeeth = FALSE
GatewayExpandTeethL2R = TRUE
GatewayMultipleLayerTeeth = FALSE
EqualResMultipleLayers = FALSE
EqualResMultipleLayersStyle = 
EqualResMultipleLayersSpace = 
GatewaySlitting = FALSE
GatewaySlitPattern = checker
GatewaySlitGLStyle = centerLines
GatewaySlitRegion = sealLayer
GatewaySlitRuleFile = /usr/cad/synopsys/laker/cur/etc/laker.st
GatewaySlitExtendStyle = parallelEdge
GatewaySlitWireName = 
GatewayControlFile = 
GatewayMetalCoverSealLayer = FALSE
GatewayBlockLayers = FALSE
GatewayBlockLayersData = 
EqualResReportInformation = TRUE
EqualResRptInfoWhenPreview = TRUE
EqualResReportResistance = TRUE
EqualResReportDeviationToPrevious = TRUE
EqualResReportDeviationToMin = TRUE
EqualResReportSpaceToPrevious = FALSE
EqualResReportArea = FALSE
OpenCellCVMode = 1
ReduceMCell = FALSE
ReduceDevice = FALSE
VirtualTop = FALSE
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I=][%M Lib(%b) Cell(%M) View(%w)][ %L layer=%L(%l)][ %P purpose=%P(%p)][%R Actual Layer %R(%Q)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 1
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
ShowInstanceAngle = FALSE
ShowInstAngleNum = 1
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
ShowSysPinOnEditingLevel = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 25000
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
ToolTipMaxChars = 32
PurposeStartCount = 1
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
[LeoWnd]
layertblpos = 2
dsgwndsize = 1920 987
[Print]
All_Printer = lp lp
PaperSize = "  A4 - 210x297 (mm) "
PrinterName = lp
FileName = d_latch.ps
ColorPrint = FALSE
BlackBackground = FALSE
[QtDialog]
SelectObjects = 229,436,436,297
[SourceTcl]
[TclShell]
nLineSize = 50
[lp]
Command = lpr
Destination = -P
Num_Copies = -#
Support_Size = 2
PrinterType = PostScript Level 2
